# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\剑指offer\Broadview_53_I\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
